/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter", sans-serif;
  --accent-font: "PressStart2P", fantasy;
  --main-font-weight: 400;
  --main-heading-font-weight: 700;
  --background-color: #fff;
  --main-color: #000;
  --heart-body-color: none;
  --heart-contour-color: #000;
  --heart-sparks-color: #ff0000;
  --button-color: #fff;
  --background-image:
    repeating-linear-gradient(
      to left,
      #d3d3d3 0 2px,
      rgb(0 0 0 / 0) 2px 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0 2px,
      rgb(0 0 0 / 0) 2px 4px
    ),
    linear-gradient(
      to bottom,
      #e7e7e7 0.01%,
      #1a1a1a
    );
  --heart-contour-color: #000;
  --heart-sparks-color: #ff0000;
}